@charset "utf-8";

#slika1 {
	width:160px;
	height:120px;
}
#slika2 {
	width: 160px;
	height: 120px;
}
#my-map {
	height: 250px;
	width: 300px;
	
}
#video {
	margin-bottom: 20px;
	width: 355px;
	height: 300px;
}
h1 {
	font-size: 1.8em;	
}
#nav {
	width:90%;
}
